/* Global styles */

* {
}

html, body {
	margin: 0;
}

section {
	width: 100%;
	box-sizing: border-box;
	padding: 75px 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 25px 0;
}

p {
	font-size: 18px;
	line-height: 36px;
	font-family: serif;
	margin: 25px 0;
}

.viz {
	margin: 25px 0;
}

.viz * {
	font-size: 12px;
	font-family: sans-serif;
}

div.content {
	width: 1000px;
	margin: 0 auto;
}

/* Intro section */

section#intro {
	height: 100vh;
    display: flex;
    align-items: top;
    background-image: url('https://www.triodos-im.com/binaries/content/gallery/tim/shared/hero-images/sri/case-study-jr-central.jpg/case-study-jr-central.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Styles for the accidents per month visualization */

#accidents-per-month {
	display: flex;
	justify-content: center;
}

#accidents-per-month .legend {
	display: flex;
	flex-direction: column;
	max-width: 100px;
}

#accidents-per-month .legend p#blue-line-desc {
	margin: 0 0 25px 0;
	color: steelblue;
	line-height: 18px;
}

#accidents-per-month .legend button {
	margin: 0 10px 10px 0;
}